<html>
  <head>
    <title>URL somify</title>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <form action="/smoi/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="smoify">
    </form>
  </body>
</html>
